<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ConnectionString" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\work\nant\src\extras\BuildServer\db\BuildServer.mdb" />
		<add key="BuildQueueRefreshInterval" value="20" />
	</appSettings>
	<system.web>
		<!--  DYNAMIC DEBUG COMPILATION
          Set compilation debug="true" to enable ASPX debugging.  Otherwise, setting this value to
          false will improve runtime performance of this application. 
          Set compilation debug="true" to insert debugging symbols (.pdb information)
          into the compiled page. Because this creates a larger file that executes
          more slowly, you should set this value to true only when debugging and to
          false at all other times. For more information, refer to the documentation about
          debugging ASP.NET files.
		-->
		<compilation defaultLanguage="c#" debug="true" />
		
		<!--  CUSTOM ERROR MESSAGES
          Set mode="on" or "remoteonly" to enable custom error messages, "Off" to disable. Add
          <error> tags for each of the errors you want to handle.
		-->
		<customErrors mode="Off" />
		
		<!--  AUTHENTICATION 
          This section sets the authentication policies of the application. Possible modes are "Windows", "Forms", 
          "Passport" and "None"
		-->
		<authentication mode="None" />
		
		<!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application. 
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
          application trace log by browsing the "trace.axd" page from your web application
          root. 
		-->
		<trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
		
		<!--  SESSION STATE SETTINGS
          By default ASP.NET uses cookies to identify which requests belong to a particular session. 
          If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
          To disable cookies, set sessionState cookieless="true".
		-->
		<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;user id=sa;password=" cookieless="false" timeout="20" />
		
		<!--  PREVENT SOURCE CODE DOWNLOAD
          This section sets the types of files that will not be downloaded. As well as entering
          a httphandler for a file type, you must also associate that file type with the aspnet_isapi.dll
          in the App Mappings property of the web site, or the file can be downloaded.
          It is recommended that you use this section to prevent your sources being downloaded.
		
		<httpHandlers>
			<add verb="*" path="*.vb" type="System.Web.HttpNotFoundHandler,System.Web" />
			<add verb="*" path="*.cs" type="System.Web.HttpNotFoundHandler,System.Web" />
			<add verb="*" path="*.vbproj" type="System.Web.HttpNotFoundHandler,System.Web" />
			<add verb="*" path="*.csproj" type="System.Web.HttpNotFoundHandler,System.Web" />
			<add verb="*" path="*.webinfo" type="System.Web.HttpNotFoundHandler,System.Web" />
			<add verb="*" path="*.config" type="System.Web.HttpNotFoundHandler,System.Web" />
		</httpHandlers>-->
		
		<!--  GLOBALIZATION
          This section sets the globalization settings of the application. 
		-->
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" />
		
	</system.web>
</configuration>
